html, body, .backGroundContainer {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;

}

.backGroundContainer {
    /*background-color: cadetblue;*/
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,  #3333ff 0% 10%,
    #ffb6c1 10% 20%, #f18686 20% 75%,  #ffaa87 75% 80%);

}

.caseta {
    width: 35%;
    min-height: 200px;
    background-color: #191919;
    border-radius: 10px;
    overflow: auto;
    max-height: 500px;

}

.casetaTitle {
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 22px;
}

.textArea {
    width: 80%;
    background-color: #191919;
    border: none;
    border-bottom: 1px solid white;
    margin-left: 20px;
    color: white;
    align-content: center;
    /*color: #2f2f2f;*/
    font-size: 16px;
    resize: none;
    outline: none;
}

.imputArea {
    display: flex;
    align-content: center;
    justify-content: space-between;


}

.plusButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: lightpink;
    color: white;
    font-size: 22px;
    margin-right: 20px;

    /*border: 1px solid white;*/
}

.newTaskContainer {
    margin-top: 10px;
    margin-bottom: 20px;
}

.newTask {
    width: 92%;
    height: 30px;
    background-color: #2f2f2f;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 5px;
    color: white;
    align-items: center;
    display: flex;
    /*flex-wrap: wrap;*/
    /*justify-content:space-between ;*/
}

span {
    margin-left: 5px;
}

.textLine {
    text-decoration: line-through;
}

.button {
    accent-color: lightpink;

}

.textTrash{
    width: 100%;
    display: flex;
    justify-content: space-between ;
    align-items: center;


}

.trashClass{
    font-size: 20px;
    color: red;
    margin-right: 10px;

}

input[type="checkbox"]:checked {
    background-color: #f5acac;
    border: 2px solid #f5acac;
    appearance: none;
}

/*input[type="checkbox"]:checked::after {*/
/*}*/

.click {
    accent-color:#f5acac ;
    content:url("check-svgrepo-com (1).svg");
    text-decoration: line-through;
}

label{
    margin-left: 10px;
    display: flex;
    align-content: center;
}

input[type="checkbox"] {
    width: 14px;
    height: 14px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
    background-color: transparent;
    appearance: none;
}

input[type="checkbox"]:hover {
    border:2px solid #f5acac;
    box-shadow: 0 0 10px 1px #f5acac;
    transition: 1ms;
}
